*{ margin: 0; padding: 0; box-sizing: border-box; font-family: 'Roboto', sans-serif;}


/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.carousel-inner img{
    width: 100%;
    height: 100vh;
}

.docthem-img{
    width: 100% !important;
    height: 300px!important;
}


body{
    position: relative;
    background-color: #bfb67a!important;
    
}
.carousel-control-next, .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    color: #000
    ;
}
.icon{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.card-img-top{
    width: 100%;
    height: 550px;
}
@media (max-width: 767px) {
 
    /* ... */
 
    .top-content .carousel-control-prev, 
    .top-content .carousel-control-next { display: none; }
    .top-content .carousel-indicators li { margin-left: 10px; margin-right: 10px; }
 
    /* ... */
 
}
